
.navbar-primary {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 180px; /* Set the width of the sidebar */
    position: fixed !important; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #555; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    margin-top: 65px;
    -webkit-box-shadow: 0 8px 6px 6px #999;
  -moz-box-shadow: 0 8px 6px 6px #999;
  box-shadow: 0 8px 6px 6px #999;
}

.collegesel select{
	color:#222;
}

.navbar-primary.collapsed .nav-label {
  display: none;
}

.btn-expand-collapse {
    position: absolute;
    display: block;
    left: 0px;
    bottom:0;
    width: 100%;
    padding: 8px 0;
    border-top:solid 1px #666;
    color: grey;
    font-size: 20px;
    text-align: center;
}

.btn-expand-collapse:hover,
.btn-expand-collapse:focus {
    background-color: #222;
    color: white;
}

.btn-expand-collapse:active {
    background-color: #111;
}

.navbar-primary-menu,
.navbar-primary-menu li {
  position: relative;
  margin:0; padding:0;
  list-style: none;
  font-size: 18
}
.sidebarnona{
  text-align: center;
  color: #ccc;
}
#sidebarchangesize{
  font-size:40px;
}
.navbar-primary-menu li a {
  display: block;
  padding: 18px 14px;
  border-bottom:solid 1px #444;
  color: #ccc;
}

.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}


#clock{
  background-color: transparent;
  font-family: sans-serif;
  font-size:15px;
  color:#333;
}
#clock span {
  color:#888;
  text-shadow:0px 0px 0px #333;
  font-size:10px;
  position:relative;
  top::0px;
  left:0px;
}
#date {
  letter-spacing:3px;
  font-size:12px;
  font-family:arial,sans-serif;
  color:#333;
  }

/*the dropdown function css*/
#page-wrapper {
    width: 100%;
    padding: 0;
    background-color: #fff;
}
.table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 0px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.sidebarnona{
  text-align: center;
  color: #ccc;
}
.navbar-primary-menu li a {
  display: block;

  text-align: left;
  border-bottom:solid 1px #444;
  color: #ccc;
}
.navbar-primary.collapsed .nav-label {
  display: none;
}

.navbar-primary-menu,
.navbar-primary-menu li {

  position: relative;
  margin:0; padding:0;
  list-style: none;
  font-size: 18;
}
.navbar-primary-menu li a:hover {
  background-color: #000;
  text-decoration: none;
  color: white;
}
#navtop
{
  -webkit-box-shadow: 0 8px 6px -6px #999;
-moz-box-shadow: 0 8px 6px -6px #999;
box-shadow: 0 8px 6px -6px #999;
}

/* The navigation menu links */





/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
